@model LoginViewModel

<div class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["Username or email address"]</label>
    <input asp-for="UserName" class="form-input" autofocus tabindex="1" placeholder="@T["Enter your username"]" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>

<div class="form-group" asp-validation-class-for="Password">
    <label asp-for="Password">@T["Password"]</label>
    <div class="password-wrapper">
        <input asp-for="Password" class="form-input" tabindex="2" placeholder="@T["Enter your password"]" />
        <button tabindex="-1" class="password-toggle" type="button" id="togglePassword"><i class="bi bi-eye"></i></button>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>

<div class="form-row">
    <div class="form-check">
        <input asp-for="RememberMe" tabindex="3">
        <label asp-for="RememberMe">@T["Remember me"]</label>
    </div>
    <a asp-controller="ResetPassword" asp-action="ForgotPassword" class="forgot-link">@T["Forgot your password?"]</a>
</div>

<button type="submit" class="login-btn" tabindex="4">@T["Log in"]</button>

<script at="Foot">
    let togglePassword = document.querySelector('#togglePassword');
    let password = document.querySelector('#@Html.IdFor(m => m.Password)');

    togglePassword.addEventListener('click', function (e) {
        type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        const icon = this.querySelector('i');
        if (type === 'password') {
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        } else {
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        }
    });
</script>
